<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipo.manager.repository.IpoSubscriptionRepository">

    <resultMap id="ipoResultMap" type="com.ipo.manager.domain.IpoSubscription">
        <id     property="id"              column="id"/>
        <result property="stockName"       column="stock_name"/>
        <result property="broker"          column="broker"/>
        <result property="offeringPrice"   column="offering_price"/>
        <result property="soldQty"         column="sold_qty"/>
        <result property="soldDate"        column="sold_date"/>
        <result property="soldPrice"       column="sold_price"/>
        <result property="taxAndFee"       column="tax_and_fee"/>
        <result property="subscriptionFee" column="subscription_fee"/>
        <result property="year"            column="subscription_year"/>
    </resultMap>

    <select id="findByYear" resultMap="ipoResultMap">
        SELECT id, stock_name, broker, offering_price, sold_qty, sold_date, sold_price,
               tax_and_fee, subscription_fee, subscription_year
        FROM ipo_subscription
        WHERE subscription_year = #{year}
        ORDER BY id DESC
    </select>

    <select id="findByYearWithSoldDate" resultMap="ipoResultMap">
        SELECT id, stock_name, broker, offering_price, sold_qty, sold_date, sold_price,
               tax_and_fee, subscription_fee, subscription_year
        FROM ipo_subscription
        WHERE subscription_year = #{year}
          AND sold_date IS NOT NULL
    </select>

    <select id="findById" resultMap="ipoResultMap">
        SELECT id, stock_name, broker, offering_price, sold_qty, sold_date, sold_price,
               tax_and_fee, subscription_fee, subscription_year
        FROM ipo_subscription
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ipo_subscription
            (stock_name, broker, offering_price, sold_qty, sold_date, sold_price,
             tax_and_fee, subscription_fee, subscription_year)
        VALUES
            (#{stockName}, #{broker}, #{offeringPrice}, #{soldQty}, #{soldDate}, #{soldPrice},
             #{taxAndFee}, #{subscriptionFee}, #{year})
    </insert>

    <update id="update">
        UPDATE ipo_subscription SET
            stock_name       = #{stockName},
            broker           = #{broker},
            offering_price   = #{offeringPrice},
            sold_qty         = #{soldQty},
            sold_date        = #{soldDate},
            sold_price       = #{soldPrice},
            tax_and_fee      = #{taxAndFee},
            subscription_fee = #{subscriptionFee},
            subscription_year = #{year}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM ipo_subscription WHERE id = #{id}
    </delete>

</mapper>
